@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<br />
<br />
<br />


<h2 class="text-center">To complete a valid search, please return to the search page and enter an artist.</h2>

<br />
<br />
<br />
<br />

<a href="http://findnewmusicapp.azurewebsites.net" type="button" role="button" class="btn btn-primary btn-block">Return to Search</a>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />